<link rel="stylesheet" href="/css/footer.css">
</main>
<footer class="mb-5 container-fluid">
    <p class="copyright">COPYRIGHT(c) DONGYANG MIRAE UNIVERSITY. ALL RIGHTS RESERVED.</p>
    <div class="link">
        <a href="#">Privacy</a> | <a href="#">Terms</a>
    </div>
</footer>
</body>
</html>

<!--<footer class="container-fluid text-center mt-auto py-3 bg-light">
    <hr>
    <div class="d-flex justify-content-between align-items-center flex-wrap">
        <p class="mb-0">COPYRIGHT(c) DONGYANG MIRAE UNIVERSITY. ALL RIGHTS RESERVED.</p>
        <div>
            <a href="#">Privacy</a> | <a href="#">Terms</a>
        </div>
    </div>
</footer>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>-->
