<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>로그인 </title>
</head>
<body>

<h1>유저 정보</h1>
<br/>
{{#user}}
<div>
    <div> {{user.user_name}}</div>
    <div> {{user.full_name}}</div>
    <div> {{user.role}}</div>
</div>
{{/user}}


</body>
</html>